/*Global*/

body {
    color: #3b3b3b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

body>*>* {
    padding-left: 15%;
    padding-right: 15%;
}

h1 {
    font-weight: bold;
    margin: 20px;
}

h2, p {
    margin-bottom: 0;
}

p {
    color: #707070;
}

ul li {
    color: #707070;
}

h3 {
    font-size: 18px;
    color: #707070;
}

button {
    background-image: linear-gradient(to right, #6859ea, #6acbe0);
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    color: white;
    border: none;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
}

form {
    margin-top: 25px;
    padding: 25px;
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ececec;
    border-radius: 25px;
    color: #c1c1c1;
    box-shadow: 0px 3px 6px #00000036;
    margin-bottom: 13px;
}

/*Header*/

#back-to-top button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    font-size: 150%;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    align-items: center;
}

nav #navigation {
    display: flex;
}

nav #navigation ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

nav #navigation ul li {
    margin: 15px;
    font-size: 14px;
    color: #707070;
}

nav #navigation ul li a {
    color: #707070;
    text-decoration: none;
}

/*Section*/

section>div {
    display: flex;
}

section>div>*:not(:last-child) {
    margin-right: 50px;
}

/*Footer*/

footer{
    padding: 12px;
    background-color: #3b3b3b;
    color: white;
    font-size: 11px;
    text-align: center;
}

/*Classes*/

.text-gradient {
    background-image: linear-gradient(45deg, #6acbe0, #6859EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box {
    padding-top: 50px;
    padding-bottom: 50px;
}

.grey {
    background-color: #f5f5f5;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.flexbox {
    display: flex;
}

.flexbox-column {
    flex-direction: column;
}

.light-blue {
    padding: 15px;
    background-color: #EAF4FC;
}

.light-blue>* {
    margin: 0;
}

.padding {
    padding: 15px;
}

#home article {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

#about {
    padding-right: 25%;
}

#about article {
    padding-right: 5%;
    display: flex;
    align-items: center;
}

#features {
    flex-direction: column;
}

#features>* {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

#features>article>div {
    text-align: center;
    width: 50%;
}

#features-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#features-flexbox>* {
    min-width: 250px;
    max-width: 300px;
    margin-top: 60px;
    padding: 50px;
}

#features-flexbox i {
    font-size: 70px;
    margin-bottom: 10px;
}

#product>div {
    margin-left: 10%;
}

#product article {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

#product article ul {
    line-height: 2;
    list-style: none;
    padding-left: 0;
}

.transition {
    background: #6859ea;
    background: -moz-linear-gradient(45deg, #6859ea 0%, #6acae0 51%, #6acae0 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #6859ea), color-stop(51%, #6acae0), color-stop(100%, #6acae0));
    background: -webkit-linear-gradient(45deg, #6859ea 0%, #6acae0 51%, #6acae0 100%);
    background: -o-linear-gradient(45deg, #6859ea 0%, #6acae0 51%, #6acae0 100%);
    background: -ms-linear-gradient(45deg, #6859ea 0%, #6acae0 51%, #6acae0 100%);
    background: linear-gradient(45deg, #6859ea 0%, #6acae0 51%, #6acae0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6859ea', endColorstr='#6acae0', GradientType=1);
}

.transition h2, .transition p, .transition h3 {
    color: white;
}

.transition button {
    border: 1px solid white;
    background: transparent;
}

#product-colorbox {
    flex-direction: column;
}

#product-colorbox>* {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

#product-colorbox>article>div {
    text-align: center;
    width: 50%;
}

#product-box {
    display: flex;
}

#product-box>* {
    margin-top: 50px;
    padding: 40px;
    text-align: center;
}

#product-box h3 {
    font-size: 22px;
}

#testimonial {
    flex-direction: column;
}

#testimonial>*:not(.slideshow-container) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

#testimonial>article>div {
    text-align: center;
    width: 50%;
}

.slideshow-container {
    margin-top: 25px;
}

.mySlides>.flexbox>section {
    flex: 1;
}

.dropdown-container {
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.dropdown-container h2 {
    margin-bottom: 30px;
}

.dropdown-box {
    background-color: white;
    padding: 15px;
    padding-left: 20px;
    margin: 7px;
    box-shadow: 0px 4px 6px #0000002f;
}

.dropdown-box>div {
    display: flex;
    justify-content: space-between;
}

.dropdown-box>div>i {
    font-size: 150%;
    color: #c1c1c1;
}

.dropdown-box p {
    margin: 0;
}

#active-dropdown-box>div {
    margin-bottom: 15px;
}

#active-dropdown-box>div>p {
    color: #6984e6;
}

#active-dropdown-box>div>i {
    color: #6984e6;
}

#contact {
    flex-direction: column;
    margin-bottom: 50px;
}

#contact>article {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

#contact>article>div {
    text-align: center;
    width: 50%;
}

#contact-rows form{
    width
}